<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hologram Effect</title>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="../style.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="black">
        <div class="wrapper-full">
            <div class="cards-container">
                <div class="card-section">
                    <div class="wrapper-pokemon-card">
                        <div class="gradient-holo mbm-color-dodge"></div>
                    </div>
                </div>
                <div class="card-section">
                    <div class="wrapper-pokemon-card">
                        <div class="gradient-holo mbm-color-dodge"></div>
                    </div>
                </div>
                <div class="card-section">
                    <div class="wrapper-pokemon-card">
                        <div class="gradient-holo mbm-color-dodge"></div>
                    </div>
                </div>
            </div>
            <h1 class="heading">Hologram Effect</h1>
        </div>
      
        <script src="../script.js"></script>
    </body>
</html>